body{
	background-color: #88D78C;
	text-align: center;
}

header{
	/*height: 100px;*/
	background-color: #19444D;
	width: 100%;
	z-index: 10;
	position: fixed;
	top: 0px;
	margin-left: -8px;

}
/* Phone*/
	@media screen and (max-width: 380px) and (max-width: 640px) {
   	 header {
    	    height: 320px;
    	}
	}
/*Tablet*/
	@media screen and (min-width: 768px) and (max-width: 1024px) {
    	header {
        	height: 225px;
    	}
	}
/*Computer*/
	@media screen and (min-width: 1200px) and (max-width: 1600px) {
    	header {
    	    height: 300px;
    	}
	}

#banner{
	width: auto;
	height: 370px;
	position: fixed;
	top: 100px;
	background: #19444D;
	margin-left: -200px;
}

#content{
	width: auto;
	position: relative;;
	top: 400px;
	background: #99E1D9;
	height: 1050px;

}

#container{
	margin-right: 170px;
	margin-left: 170px;
	width: auto;
}

.floating-box {
    display: inline-block;
    width: 420px;
    height: 190px;
    margin: 20px;
    border: 3px solid #19444D;
    border-radius: 15px;
    background-color: #99E1D9;
}

#floating-box {
    display: inline-block;
    width: 800px;
    height: 140px;
    margin: 20px;
    border: 3px solid #2A2B2E;
    border-radius: 15px;
    background-color: #99E1D9;
}

.header-cont{
	width: 100%;
	position: fixed;
	top: 0px;
}

.content{
	width: 960px;
	background: #88D78C;
	border: 1px solid #CCC
	height: 2000px;
	margin: 70px auto;
}

h1{
    margin: auto;
	font-family: "Raleway";
	font-size: 45px;
	color: #99E1D9;
	text-align: center;
	margin-top: 15px;
	text-shadow: 3px 3px #2A2B2E;
}

h2{
	margin-left: 188px;
	margin-right: 188px;
	font-family: "Raleway";
	font-size: 30px;
	color: #99E1D9;
	text-align: center;
	margin-top: 150px;
	text-shadow: 3px 3px #2A2B2E;
}

h3{
	font-family: "Raleway";
	font-size: 60px;
	color: #19444D;
	text-align: center;
	margin-top: 20px;
	text-shadow: 1px 1px black;
}

p{
	font-family: "Raleway";
	font-size: 21px;
	color: #19444D;
	text-align: center;
	margin-top: 10px;
	text-shadow: 1px 1px black;
}
